//base settings
$font-size-root: 16px;
$font-family-base: 'Roboto', sans-serif;
$line-height-base: 1;
$app-box-radius: 10px;

//color settings
$color-black: #080606;
$color-white: #fff;
$color-silver: #e0e0e0;
$color-gray: #8a8995;
$color-gray-light: #f6f6f6;
$color-navy: #101022;
$color-navy-light: #292a48;
$color-red: #ff594f;
$color-orange: #ffbc1b;
$color-green: #00cd46;

//font size settings

$font-size-base: 16px;
$font-size-small: 15px;
$font-size-small-x: 14px;
$font-size-small-xx: 12px;