.filter{
  @extend .clear-list;

  li{
    padding: 17px 15px;
    display: flex;
    align-items: center;
    color: $color-white;
    cursor: pointer;

    span{
      font-size: $font-size-small-x;
      line-height: $font-size-small-x;
    }

    i{
      font-size: $font-size-base;
      padding-right: 10px;
    }

    .count{
      color: $color-gray;
      margin-left: auto;
    }
    
    &.active,
    &:hover{
      background-color: $color-navy-light;
    }
  }
}